.attribution { font-size: 11px; }
.attribution a { color: hsl(228, 45%, 44%); }
a {
    text-decoration:none; 
    color: #ffffff;
}
a:hover {
    color: #adadad;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0px;
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}
/* Header */
.container_header {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
}
.logo_header {
    margin: 10px;
    margin-left: 60px;
}
.btn_header {
    margin: 10px;
    margin-right: 60px;
}

/* Hero */
.container_hero {
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: space-around;
}

/* Buttons */
.btn {
    background-color: #ffffff; /* Green */
    border: none;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    font-weight: bold;
    -webkit-box-shadow: 2px 6px 17px -8px rgba(0,0,0,0.67); 
    box-shadow: 2px 6px 17px -8px rgba(0,0,0,0.67);
}
.btn:hover {
    background-color: #ccecff;
}
 .btn_pink {
    background-color: #fe52c0; /* Green */
    border: none;
    padding: 20px 75px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 700;
    -webkit-box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.53); 
    box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.53);
}
.btn_pink:hover{
    background-color: #d13397;
}

/* Website content */
.container_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 12px;
    -webkit-box-shadow: 2px 6px 17px -8px rgba(0,0,0,0.67); 
    box-shadow: 2px 6px 17px -8px rgba(0,0,0,0.67);
}
.container_content div {
    flex: 1;
    margin: 20px;
}

.container_question {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container_question div {
    text-align:center;
    width: 40%;
    padding: 40px;
    margin: 30px;
    margin-top: -100px;
    border-radius: 24px;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 6px 17px -8px rgba(0,0,0,0.67); 
    box-shadow: 2px 6px 17px -8px rgba(0,0,0,0.67);
}
.container_question button {
    background-color: #fe52c0;
    color: #ffffff;
    border: none;
    padding: 20px 75px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 700;
    -webkit-box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.53); 
    box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.53);
}
.container_question button:hover {
    background-color: #d13397;
}
.container_question h3 {
    color: black;
    font-weight: 700;
    padding-bottom: 10px;
}

/* Footer */
footer {
    background-color: #00252e;
    color: #ffffff;
    height: 500px;
}
.container_footer1 {
    display: flex;
    flex-direction: row;
    padding: 50px;
    padding-left: 90px;
    padding-bottom: 0px;
}

.container_footer2 {
    display: flex;
    flex-direction: row;
    padding: 50px;
    padding-top: 0px;
    background-color: #00252e;
}
/*.container_footer2 img {
    padding-left: 5px;
    padding-right: 5px;
}*/
.contact_footer {
    flex: 2;
    margin: 40px;
}
.contact_item img {
    margin-right: 15px;
}
.container_footer2 li {
    list-style-type: none;
    padding-bottom: 18px;
}
.about_footer {
    flex: 1;
    margin: 40px;
}
.menu_footer {
    flex: 1;
    margin: 40px;
}
.redes_sociais_footer {
    flex: 1;
    margin: 40px;
}

.container_footer3 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: #00252e;
    font-size: 14px;
    padding-right: 100px;
    padding-bottom: 80px;
}

.container_footer4 {
    display: flex;
    justify-content: center;
    background-color: #00252e;
}


